################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SISCParser/bin/Debug
/SISCParser/obj/Debug
/SISCParser/.vs/SISCParser/v16
/.vs
/SISCParser/publish
/SISCParser/SISCParser.csproj.user
